 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <i>
        <img src="https://banner2.cleanpng.com/20180526/oqt/kisspng-microsoft-sql-server-mysql-database-logo-5b098c6ebad6d7.7316225815273524307653.jpg" width="120" height="60">
      </i>
      <i>
        <img src="https://www.jumpingrivers.com/blog/customising-matplotlib/matplot_title_logo.png" width="120" height="60">
      </i>
      <i>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" width="120" height="60">
      </i>
      <i>
        <img src="https://www.vectorlogo.zone/logos/python/python-ar21.svg" width="120" height="60">
      </i>
        <img src="https://miro.medium.com/v2/resize:fit:765/0*L5DN6kQLvhvvw02U.png" width="120" height="60">
      <i>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Scikit_learn_logo_small.svg/1200px-Scikit_learn_logo_small.svg.png" width="120" height="60">
      </i>
      <i>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/1280px-Git-logo.svg.png" width="120" height="60">
      </i>
    </div>
</div>
