 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <img src="https://www.vectorlogo.zone/logos/python/python-ar21.svg" width="120" height="60">
      <img src="https://miro.medium.com/v2/resize:fit:765/0*L5DN6kQLvhvvw02U.png" width="120" height="60">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Scikit_learn_logo_small.svg/1200px-Scikit_learn_logo_small.svg.png" width="120" height="60">
    </div>
</div>
