<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="projectory" src="{{ "/assets/img/projectory.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Undergraduate Physics Project </h3>
    <p>This project investigated the pros, cons, and technological feasibility of the two known methods of generating artificial gravity (a linearly accelerating or rotating spacecraft) during space travel. The animation to the right shows the effect of the coriolis force on a ball thrown directly upwards in a rotating spacecraft.</p>
    <a class="project-link" href="https://github.com/bcapon/BSc-Project">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/houses.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Kaggle Housing Prices Competition </h3>
    <p>After completing a number of courses on Kaggle and DataCamp, I put my knowledge to test in a practice Kaggle competition based on the Ames Housing dataset. The project was a regression problem using 79 housing features to predict the housing prices in the test dataset and my results scored in the top 10 out of over 100,000 final submissions on Kaggle before the leaderboard reset. N.B. My master's degree has provided me with a greater insight into regression models and I am implementing these new ideas.</p>
    <a class="project-link" href="https://github.com/bcapon/kaggle-housing">Check it out</a>
  </div>
</div>