<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="projectory" src="https://private-user-images.githubusercontent.com/68614521/263498435-b97c462b-9627-48cd-95c1-bd00921338ca.gif?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDg2OTk1MjQsIm5iZiI6MTcwODY5OTIyNCwicGF0aCI6Ii82ODYxNDUyMS8yNjM0OTg0MzUtYjk3YzQ2MmItOTYyNy00OGNkLTk1YzEtYmQwMDkyMTMzOGNhLmdpZj9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAyMjMlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMjIzVDE0NDAyNFomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTgxNzI4ZDEzNjU0NTlmODgwMWZlY2ZhMWU1NjhlMWI3YTE3YTRjOTcyYzUwMmJkMzM0OWRjN2RjYTc4NWE2ZjQmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.ZRzO3dL0Sf6CUMbq5ztGp9ICpeM4F8WHh83-sxWFG-w" />
  </div>
  <div class="contents">
    <h3>Undergraduate Physics Project</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This project investigated the pros, cons, and technological feasibility of the two known methods of generating artificial gravity (a linearly accelerating or rotating spacecraft) during space travel. The animation to the right shows the effect of the coriolis force on a ball thrown directly upwards in a rotating spacecraft.</p>
    <a class="project-link" href="https://github.com/bcapon/BSc-Project">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
